<div class="margin-15">
	<h2>Add Location</h2>
	<div class="form-group">
		<input class="form-control" type="text" ng-model="data.name" placeholder="Property Name"/>
	</div>
	<div class="form-group">
		<input class="form-control" type="text" ng-model="data.street_one" placeholder="Street One"/>
	</div>
	<div class="form-group">
		<input class="form-control" type="text" ng-model="data.street_two" placeholder="Street Two"/>
	</div>
	<div class="form-group">
		<input class="form-control" type="text" ng-model="data.city" placeholder="City"/>
	</div>
	<div class="form-group">
		<input class="form-control" type="text" ng-model="data.state" placeholder="State"/>
	</div>
	<div class="form-group">
		<input class="form-control" type="text" ng-model="data.zip" placeholder="ZIP"/>
	</div>
	<div class="form-group">
		<input class="form-control" type="text" ng-model="data.handle" placeholder="Handle"/>
	</div>
	<div class="form-group">
		<button class="btn btn-default" type="button" ng-click="controls.cancel()">Cancel</button>
		<button class="btn btn-primary" type="button" ng-click="controls.submit()">Save</button>
	</div>
</div>