<div class="col-md-12">
	<div class="form-group">
		<a class="btn btn-default" type="button" href="#/locations"><i class="fa fa-arrow-circle-left"></i> Locations</a>
		<button class="btn btn-primary" type="button" ng-click="controls.addShift()">Add Shift</button>
	</div>
	<h2>Shifts</h2>
	<div class="">
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Start</td>
					<td>End</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="shift in data.shifts">
					<td>{{shift.start_hour}}:{{shift.start_minute | digits:2:"0"}}</td>
					<td>{{shift.end_hour}}:{{shift.end_minute | digits:2:"0"}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<h2>Edit Location</h2>
	<div class="form-group">
		<input class="form-control" type="text" ng-model="data.location.name" placeholder="Property Name"/>
	</div>
	<div class="form-group">
		<input class="form-control" type="text" ng-model="data.location.street_one" placeholder="Street One"/>
	</div>
	<div class="form-group">
		<input class="form-control" type="text" ng-model="data.location.street_two" placeholder="Street Two"/>
	</div>
	<div class="form-group">
		<input class="form-control" type="text" ng-model="data.location.city" placeholder="City"/>
	</div>
	<div class="form-group">
		<input class="form-control" type="text" ng-model="data.location.state" placeholder="State"/>
	</div>
	<div class="form-group">
		<input class="form-control" type="text" ng-model="data.location.zip" placeholder="ZIP"/>
	</div>
	<div class="form-group">
		<input class="form-control" type="text" ng-model="data.location.handle" placeholder="Handle"/>
	</div>
	<div class="form-group">
		<button class="btn btn-primary" type="button" ng-click="controls.submit()">Update</button>
	</div>
</div>