<div class="col-md-12">
	<div class="form-box">
		<div class="form-container">
			<h2>Login</h2>
			<form>
				<div class="form-group">
					<input type="text" class="form-control" ng-model="data.username" placeholder="Username" />
				</div>
				<div class="form-group">
					<input type="password" class="form-control" ng-model="data.password" placeholder="Password" />
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-default" ng-click="controls.forgot()">Forgot</button>
					<button type="button" class="btn btn-primary" ng-click="controls.submit()">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>